<meta charset="UTF-8">

<div class="panel panel-default col-sm-10">
	<div class="panel-heading">
		<h1>Edition de la recette</h1>
		<h2>Nombre de couverts</h2>
	</div>
	<div class="panel-body">
		<div class="form-group">
			<label for="nombreCouverts">Nombre de couverts</label>
			<input class="form-control" type="number" style="width: 400px" ng-model="recetteCtrl.recetteTemp.nombreCouverts" required></input>
		</div>
		<a class="btn btn-info pull-right" ng-click="recetteCtrl.setOngletEdition('cout')">
			Suivant
		</a>
	</div>
</div>	