<meta charset="UTF-8">

<ul class="nav nav-pills" ng-controller="ControllerNavigation as moduleCtrl">
	<li ng-class="{active:moduleCtrl.isOnglet('Acceuil')}">
		<a ng-href="acceuil" ng-click="moduleCtrl.setOnglet('Acceuil')">
			Acceuil
		</a>
	</li>
	<li ng-class="{active:moduleCtrl.isOnglet('Compte utilisateur')}">
		<a ng-href="compte-utilisateur" ng-click="moduleCtrl.setOnglet('Compte utilisateur')">
			Compte utilisateur
		</a>
	</li>
	<li ng-class="{active:moduleCtrl.isOnglet('Administration')}" ng-show="moduleCtrl.isActif('Administration') && sessionCtrl.droits==='ADMINISTRATEUR'">
		<a ng-href="administration" ng-click="moduleCtrl.setOnglet('Administration')">
			Administration
		</a>
	</li>
	<li ng-class="{active:moduleCtrl.isOnglet('Recettes')}" ng-show="moduleCtrl.isActif('Recettes')">
		<a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
			Recettes <span class="caret"></span> 
		</a>
		<ul class="dropdown-menu">
			<li ng-class="{active:moduleCtrl.isSousOnglet('ListeRecettes')}">
				<a ng-href="recettes/liste" ng-click="moduleCtrl.setSousOnglet('Recettes','listeRecettes') ">
					Liste des recettes
				</a>
			</li>
			<li ng-class="{active:moduleCtrl.isSousOnglet('ListeIngredients')}">
				<a ng-href="recettes/ingredients/liste" ng-click="moduleCtrl.setSousOnglet('Recettes','listeIngredients') ">
					Liste des ingrédients
				</a>
			</li>
		</ul>
	</li>
</ul>
			


		






