<meta charset="UTF-8">

<div class="panel panel-default col-sm-10">
	<div class="panel-heading">
		<h1>Edition de l'ingrédient</h1>
		<h2>Intitulé</h2>
	</div>
	<div class="panel-body">
		<div class="form-group">
			<label for="intitule">Intitulé de l'ingrédient</label>
			<input type="text" class="form-control" style="width: 400px" ng-model="editionIngredientsCtrl.temp.intitule" required/>
		</div>
		<a class="btn btn-info pull-right" ng-click="editionIngredientsCtrl.setOngletEdition('type')">
			Suivant
		</a>
	</div>
</div>	