<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE log4j:configuration PUBLIC
  "-//APACHE//DTD LOG4J 1.2//EN" "http://logging.apache.org/log4j/1.2/apidocs/org/apache/log4j/xml/doc-files/log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

	<!-- Renderers -->
	<!-- <renderer renderingClass="fr.cnasea.commons.log.LogMessageRenderer"
		renderedClass="fr.cnasea.commons.log.ContexteLogMessage"/>

	<renderer renderingClass="fr.cnasea.commons.log.LogMessageRenderer"
		renderedClass="fr.cnasea.commons.log.LogMessage"/> -->

	<!-- Appenders -->
	<appender name="console" class="org.apache.log4j.ConsoleAppender">
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="[%d{HH:mm:ss}] %-5p : %c{5}.%M:%L - %m %n"/>
		</layout>
	</appender>
	<!-- <appender name="file" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="File" value="${com.sun.aas.instanceRoot}/logs/ecoBonus.log"/>
		<param name="DatePattern" value="'.'yyyy-MM-dd"/>
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="[%d{HH:mm:ss}] %-5p : %c{5}.%M:%L - %X{user} - %m %n"/>
		</layout>
    </appender> -->
	<!-- <appender name="fileIntegr" class="org.apache.log4j.DailyRollingFileAppender"> 
		<param name="File" value="logs/ecoBonus.log" /> <param name="DatePattern" 
		value="'.'yyyy-MM-dd" /> <layout class="org.apache.log4j.PatternLayout"> 
		<param name="ConversionPattern" value="%d{dd/MM/yyyy HH:mm:ss}| %p | %X{lm.hostname} 
		| %X{lm.user} | %X{lm.application} | %X{lm.version} | %m %n" /> </layout> 
		</appender> -->

	<!-- Loggers -->
	<logger name="fr.cnasea" additivity="false">
		<level value="error" />
		<appender-ref ref="file" />
	</logger>
	<!-- Décommenter pour traces moins verbeux <logger name="fr.cnasea.commons.webfwk.util.SessionUtils"> 
		<level value="warn"/> <appender-ref ref="file"/> </logger> -->
	<logger name="org.apache.struts" additivity="false">
		<level value="error" />
		<appender-ref ref="file" />
	</logger>
	<logger name="org.apache.commons.beanutils" additivity="false">
		<level value="error" />
		<appender-ref ref="file" />
	</logger>
	<logger name="service.Controller.BR.BO">
		<level value="error" />
		<appender-ref ref="file" />
	</logger>

	<!-- Root -->
	<root>
		<level value="error" />
		<appender-ref ref="file" />
	</root>

</log4j:configuration>