<meta charset="UTF-8">

<div class="panel panel-default">
	<div class="panel panel-heading">
		<h1>Mode admin</h1>
	</div>
	<div class="panel panel-body">
		<div class="col-sm-6" ng-controller="UtilisateurController as UtilisateurCtrl">
			<div class="panel panel-heading">
				<h2>Gestion des utilisateurs</h2>
			</div>
			<div class="panel panel-body">
				<table id="tableUtilisateurs" class="table table-striped">
					<thead>
						<tr>
							<td><label>Login</label></td>
							<td><label>Password</label></td>
							<td><label>Droits</label></td>
							<td><label>Opérations</label></td>
						</tr>
					</thead>
					<tbody id="tableUtilisateurs">
						<tr>
							<tr ng-repeat="utilisateur in UtilisateurCtrl.utilisateurs">
							<td>{{utilisateur.login}}</td>
							<td>{{utilisateur.password}}</td>
							<td>{{utilisateur.droits}}</td>
						</tr>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<div class="col-sm-6">
			<div class="panel panel-heading">
				<h2>Gestion des modules</h2>
			</div>
			<div class="panel panel-body">
				<table id="tableModules" class="table table-striped">
					<thead>
						<tr>
							<td><label>Module</label></td>
							<td><label>Etat</label></td>
							<td><label>Opérations</label></td>
						</tr>
					</thead>
					<tbody id="tableModules">
						<tr ng-repeat="module in moduleCtrl.modulesActifs">
							<td>{{module.nom}}</td>
							<td>{{module.etat}}</td>
						</tr>	
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>
