<meta charset="UTF-8">


<form name="recetteCtrl.recetteForm" ng-submit="recetteCtrl.recetteForm.$valid && recetteCtrl.save()" novalidate>
	<input type="hidden" ng-model="recetteCtrl.recetteTemp.id" /> 
	<input type="hidden" ng-model="recetteCtrl.recetteTemp.version" />
	<edition-recette-introduction ng-show="recetteCtrl.isOngletEdition('introduction')"></edition-recette-introduction>
	<edition-recette-intitule ng-show="recetteCtrl.isOngletEdition('intitule')"></edition-recette-intitule>
	<edition-recette-type-plat ng-show="recetteCtrl.isOngletEdition('typePlat')"></edition-recette-type-plat>
	<edition-recette-difficulte ng-show="recetteCtrl.isOngletEdition('difficulte')"></edition-recette-difficulte>
	<edition-recette-nombre-couverts ng-show="recetteCtrl.isOngletEdition('nombreCouverts')"></edition-recette-nombre-couverts>
	<edition-recette-cout ng-show="recetteCtrl.isOngletEdition('cout')"></edition-recette-cout>
	<edition-recette-temps-preparation ng-show="recetteCtrl.isOngletEdition('tempsPreparation')"></edition-recette-temps-preparation>
	<edition-recette-temps-cuisson ng-show="recetteCtrl.isOngletEdition('tempsCuisson')"></edition-recette-temps-cuisson>
	<edition-recette-image ng-show="recetteCtrl.isOngletEdition('image')"></edition-recette-image>
	<edition-recette-video ng-show="recetteCtrl.isOngletEdition('video')"></edition-recette-video>
	<edition-recette-ingredients ng-show="recetteCtrl.isOngletEdition('ingredients')"></edition-recette-ingredients>
	<edition-recette-instructions ng-show="recetteCtrl.isOngletEdition('instructions')"></edition-recette-instructions>
	<edition-recette-conseils ng-show="recetteCtrl.isOngletEdition('conseils')"></edition-recette-conseils>
	<edition-recette-finalisation ng-show="recetteCtrl.isOngletEdition('validation')"></edition-recette-finalisation>
</form>

<vue-recette></vue-recette>