<meta charset="UTF-8">

<div class="panel panel-default col-sm-10">
	<div class="panel-heading">
		<h1>Edition de la recette</h1>
		<h2>Temps de préparation</h2>
	</div>
	<div class="panel-body">
		<div class="form-group">
			<label for="tempsPreparation">Temps de préparation de la recette</label>
			<input type="text" class="form-control" style="width: 400px" ng-model="recetteCtrl.recetteTemp.tempsPreparation" required/>
		</div>
		<a class="btn btn-info pull-right" ng-click="recetteCtrl.setOngletEdition('tempsCuisson')">
			Suivant
		</a>
	</div>
</div>	