<meta charset="UTF-8">
<div class="col-sm-2">
	<ul class="nav nav-pills nav-stacked">
		<li ng-click="recetteCtrl.mode='table'" class="nav-link">
			<a>Annuler</a>
		</li>
		<li class="nav-link" ng-click="recetteCtrl.setOngletEdition('intituleIngredient')" ng-class="{active:recetteCtrl.isOngletEdition('intituleIngredient')}">
			<a>Intitulé</a>
		</li>
		<li class="nav-link" ng-click="recetteCtrl.setOngletEdition('typeIngredient')" ng-class="{active:recetteCtrl.isOngletEdition('typeIngredient')}">
			<a>Type d'ingrédient</a>
		</li>
		<li class="nav-link" ng-click="recetteCtrl.setOngletEdition('coutIngredient')" ng-class="{active:recetteCtrl.isOngletEdition('coutIngredient')}">
			<a>Coût</a>
		</li>
		<li class="nav-link" ng-click="recetteCtrl.setOngletEdition('imageIngredient')" ng-class="{active:recetteCtrl.isOngletEdition('imageIngredient')}">
			<a>Image</a>
		</li>
		<li class="nav-link" ng-click="recetteCtrl.setOngletEdition('conseilsIngredient')" ng-class="{active:recetteCtrl.isOngletEdition('conseilsIngredient')}">
			<a>Conseils</a>
		</li>
	</ul>
</div>