<meta charset="UTF-8">

<div id="Compte-utilisateur" class="panel panel-default">
	<div class="panel panel-heading">
		<h1>Gestion de mon compte utilisateur</h1>
	</div>
	<div class="panel panel-body">
		<table id="compteUtilisateur" class="table table-striped">
			<thead>
				<tr>
					<td>Mes données personelles</td>
				</tr>
			</thead>
			<tbody id="tableUtilisateurs">
				<tr>
					<td>Login</td>
					<td>{{UtilisateurCtrl.getLogin()}}</td>
				</tr>
				<tr>
					<td>Droits</td>
					<td>{{UtilisateurCtrl.getDroits()}}</td>
				</tr>
			</tbody>
		</table>
		<button class="btn btn-info"
			ng-click="UtilisateurCtrl.ouvrirOngletChangerLogin()">
			<span>Changer mon identifiant</span>
		</button>
		<button class="btn btn-info"
			ng-click="UtilisateurCtrl.ouvrirOngletChangerMdP()">
			<span>Changer mon mot de passe</span>
		</button>
		<div id="modif-identifiant" class="panel panel-default"
			ng-show="UtilisateurCtrl.changerLogin">
			<div class="panel panel-heading">Changement de l'identifiant</div>
			<div class="panel panel-body">
				<form name="UtilisateurCtrl.loginForm"
					ng-submit="UtilisateurCtrl.loginForm.$valid && UtilisateurCtrl.changerLogin()"
					novalidate>
					<div class="form-group">
						<label style="width: 400px">Ancien identifiant : </label> <span
							style="width: 400px">{{UtilisateurCtrl.getLogin()}}</span>
					</div>
					<input type="hidden" style="width: 400px"
						ng-model="UtilisateurCtrl.loginForm.utilisateur.id"></input> <input
						type="hidden" style="width: 400px"
						ng-model="UtilisateurCtrl.loginForm.utilisateur.version"></input>
					<input type="hidden" style="width: 400px"
						ng-model="UtilisateurCtrl.loginForm.utilisateur.login"></input> <input
						type="hidden" style="width: 400px"
						ng-model="UtilisateurCtrl.loginForm.utilisateur.droits"></input>
					<div class="form-group">
						<label style="width: 400px">Nouvel identifiant : </label> <input
							type="text" style="width: 400px"
							ng-model="UtilisateurCtrl.loginForm.nouveauLogin" required></input>
					</div>
					<div class="form-group">
						<label style="width: 400px">Mot de passe : </label> <input
							type="password" style="width: 400px"
							ng-model="UtilisateurCtrl.loginForm.utilisateur.password"
							required></input>
					</div>
					<button class="btn btn-success" type="submit" ng-click="UtilisateurCtrl.changerLogin()">
						<span class="glyphicon glyphicon-ok"></span>
					</button>
					<button class="btn btn-warning"
						ng-click="UtilisateurCtrl.fermerOngletChangerLogin()">
						<span class="glyphicon glyphicon-arrow-left"></span>
					</button>
				</form>
			</div>
		</div>
		<div id="modif-password" class="panel panel-default"
			ng-show="UtilisateurCtrl.changerPassword">
			<div class="panel panel-heading">Changement du mot de passe</div>
			<div class="panel panel-body"></div>
		</div>
	</div>
</div>